@media only screen and (max-width: 600px) {
  html body {
    width: 100%;
    padding: 0px;
    margin-bottom: 35px !important;
  }
  html body .container {
    width: 100%;
    display: flex;
  }
  html body .container #mid {
    display: flex;
    flex-direction: column !important;
    padding: unset;
    margin: unset;
    justify-content: unset;
    min-width: unset;
    max-width: unset;
    width: 100%;
    justify-items: center;
    align-items: center;
  }
  html body .container #mid .section {
    border-radius: unset !important;
    border: unset;
    padding: 15px 5px;
  }
  html body .container #mid .left {
    width: 100%;
    max-width: unset !important;
    min-width: unset !important;
    position: relative;
  }
  html body .container #mid .left .user-section {
    align-content: center;
    padding: unset;
    height: -moz-fit-content;
    height: fit-content;
    gap: 10px;
    position: relative;
    flex-direction: row;
  }
  html body .container #mid .left .user-section div {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  html body .container #mid .left .user-about {
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 15px;
    max-height: -moz-fit-content;
    max-height: fit-content; /* For 2 lines */
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    width: 100%;
  }
  html body .container #mid .left .user-about span {
    text-transform: uppercase;
    font-weight: bold;
  }
  html body .container #mid .left .user-info {
    justify-content: center;
    margin: unset;
  }
  html body .container #mid .left .user-info ul {
    padding: unset;
    list-style: none;
    flex-direction: row;
    gap: 5px;
  }
  html body .container #mid .left .user-info ul li {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 12px;
  }
  html body .container #mid .left .more-user-info ul {
    flex-direction: row;
    gap: 15px;
  }
  html body .container #mid .center {
    width: 100%;
    padding: 0px;
    gap: unset;
    max-width: unset;
    flex-direction: column;
  }
  html body .container #mid .center .idea-section {
    display: flex;
    flex-direction: column;
    width: -moz-fit-content;
    width: fit-content;
  }
  html body .container #mid .center .idea-section .top {
    padding: 5px 15px;
    width: 100%;
    justify-content: center;
  }
  html body .container #mid .center .idea-section .top button {
    float: right;
    margin: 5px;
  }
  html body .container #mid .center .idea-section .idea-body {
    padding: 5px;
    width: -moz-fit-content;
    width: fit-content;
  }
  html body .container #mid .center .idea-section .idea-media-section {
    padding: unset;
    width: unset;
  }
  html body .container #mid .center .idea-section .idea-media-section img {
    display: flex;
    max-width: 100px;
    content: url("./images/OdumaCorp-icon-small.png");
    width: unset;
  }
  html body .container #mid .center .card {
    border-radius: unset;
    border: unset;
    padding: unset;
  }
  html body .container #mid .center .post-section {
    padding: 5px;
    width: 100%;
  }
  html body .container #mid .center .post-section textarea {
    width: 100%;
    padding: 10px 10px;
    border: unset;
    box-shadow: inset 2px 2px 10px 0px rgba(92, 92, 92, 0.26);
    outline: 1px solid rgba(121, 121, 121, 0.171);
  }
  html body .container #mid .center .post-section textarea:hover {
    box-shadow: 1px 1px 4px rgb(255, 255, 255);
  }
  html body .container #mid .center .idea-section .top {
    display: flex;
    justify-content: flex-end;
  }
  html body .container #mid .center .idea-section .idea-body .interest-section {
    margin: 10px 0;
    color: rgba(48, 48, 48, 0.7882352941);
  }
  html body .container #mid .center .idea-section .idea-body .idea-media-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }
  html body .container #mid .center .idea-section .idea-body .idea-media-section img {
    width: -moz-fit-content;
    width: fit-content;
    max-width: 200px;
  }
  html body .container #mid .center .action-area {
    justify-content: space-evenly;
    padding: 0px 0px;
    gap: unset;
    border: 1px solid rgba(0, 0, 0, 0.096);
  }
  html body .container #mid .center .action-area .small-card {
    border-radius: unset;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  html body .container #mid .center .action-area .small-card textarea {
    padding: 10px;
    border: unset;
    border-radius: 5px;
    background-color: rgba(209, 209, 209, 0.1568627451);
    outline: unset;
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.295);
    resize: none;
    height: 120px;
    margin: 6px 0;
  }
  html body .container #mid .center .action-area .small-card textarea:hover {
    box-shadow: 1px 1px 4px rgb(255, 255, 255);
  }
  html body .container #mid .center .tile-section {
    flex-direction: row;
  }
  html body .container #mid .center .that-viewed {
    text-align: center;
    display: flex;
    width: 100%;
    padding: 0 2px;
    justify-content: center;
  }
  html body .container #mid .center .that-viewed .tile-container {
    justify-content: center;
    overflow-x: scroll;
    display: -webkit-box;
    max-width: unset;
    gap: 20px;
  }
  html body .container #mid .center .that-viewed .tile-container .tile {
    width: -moz-fit-content;
    width: fit-content;
    height: unset;
    display: flex;
    max-width: 200px;
    text-align: left;
  }
  html body .container #mid .center .that-viewed .tile-container .tile img {
    top: 0;
    width: 150px;
  }
  html body .container #mid .center .that-viewed .titles-about {
    margin: 4px 0;
  }
  html body .container #mid .center .suggestions-section .top-section {
    flex-direction: column;
  }
  html body .container #mid .center .suggestions-section .bottom-section {
    flex-direction: column;
    width: 100%;
  }
  html body .container #mid .center .suggestions-section .left-section {
    display: flex;
  }
  html body .container #mid .center .suggestions-section .left-section .tile-container {
    padding: 5px 2px;
    display: -webkit-box;
    overflow-x: scroll;
  }
  html body .container #mid .center .suggestions-section .left-section .tile-container .tile {
    width: 120px;
    max-width: unset;
    display: flex;
  }
  html body .container #mid .center .suggestions-section .left-section .tile-container .tile img {
    min-width: 100px;
    max-height: 100px;
  }
  html body .container #mid .center .suggestions-section .right-section {
    padding: 2px 2px;
    display: flex;
    width: 100%;
  }
  html body .container #mid .center .suggestions-section .right-section .tile-container {
    padding: 5px 0px;
    flex-direction: row;
    max-width: unset;
    display: -webkit-box;
    overflow-x: scroll;
    gap: 5px;
    width: 100%;
  }
  html body .container #mid .center .suggestions-section .right-section .tile-container .tile {
    width: 100%;
    max-width: 200px;
    display: flex;
  }
  html body .container #mid .center .suggestions-section .right-section .tile-container .tile img {
    width: -moz-fit-content;
    width: fit-content;
    min-width: 50px;
  }
  html body .container #mid .right {
    position: relative;
    display: flex;
    width: 100% !important;
    max-width: unset !important;
    min-width: unset !important;
  }
  html body .container #mid .right .proposal-section {
    flex-direction: row;
  }
  html body .container #mid .right .titles-about {
    margin: 0;
    text-align: center;
  }
  html body .header {
    height: 70vh;
  }
  html body .header .hero-section .heading h1 {
    font-size: medium;
  }
  html body .header .hero-section .heading h2 {
    font-size: medium;
  }
  html body .header-section {
    padding: 0px 0;
    width: 100vw;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
  }
  html body .header-section .btns {
    display: flex;
    flex-direction: column;
    position: relative;
    right: 10vw;
    width: -moz-fit-content;
    width: fit-content;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  html body .header-section .btns .menu-btn {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
  }
  html body .header-section .btns .menu-btn img {
    width: 40px;
  }
  html body .header-section .btns .buttons {
    position: absolute;
    visibility: hidden;
    flex-direction: column;
  }
  html body .header-section .btns:focus .buttons {
    position: relative;
    visibility: visible;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
  }
  html body .header-section .btns:focus .buttons button {
    margin: 5px 0;
  }
  html body .header-section .nav-bar {
    height: -moz-fit-content;
    height: fit-content;
  }
  html body .header-section .nav-bar .logo-section img {
    width: 30vw;
  }
  html body .header-section .nav-bar nav {
    padding: 0px;
    position: fixed;
    display: flex;
    bottom: 0px;
    width: 100%;
    height: 4rem;
    z-index: 1;
    backdrop-filter: blur(30px) !important;
    -webkit-backdrop-filter: blur(30px) !important;
    background-color: unset;
    justify-content: center;
    align-items: center;
  }
  html body .header-section .nav-bar nav ul {
    height: 100%;
    width: 100%;
    background-color: unset;
    border-radius: unset;
    margin-top: unset;
    margin-bottom: unset;
    color: unset;
    justify-self: unset;
    transform: unset;
    justify-items: center;
    align-items: center;
    align-content: center;
    display: flex;
    padding: 0;
  }
  html body .header-section .nav-bar nav ul li {
    visibility: visible;
    content: "";
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: unset;
    align-self: unset;
    max-width: unset;
    transition: all 1s;
    padding: 0;
    gap: 3vw;
  }
  html body .header-section .nav-bar nav ul li a {
    transition: all 1s;
    width: 7vw;
    padding: 0;
  }
  html body .header-section .nav-bar nav ul li a:hover {
    transform: translateY(-7px);
    filter: drop-shadow(-3px 3px 3px rgba(0, 0, 0, 0.575));
  }
  html body .header-section .nav-bar nav ul li a:nth-of-type(1) {
    content: url("../images/Icons/Oduma Corp New Logo.png");
  }
  html body .header-section .nav-bar nav ul li a:nth-of-type(2) {
    content: url("../images/Icons/network.png");
  }
  html body .header-section .nav-bar nav ul li a:nth-of-type(3) {
    content: url("../images/Icons/icons8-index-96.png");
  }
  html body .header-section .nav-bar nav ul li a:nth-of-type(4) {
    content: url("../images/Icons/icons8-service-60.png");
  }
  html body .header-section .nav-bar nav ul li a:nth-of-type(5) {
    content: url("../images/Icons/icons8-event-96.png");
  }
  html body .header-section .nav-bar nav ul li a:nth-of-type(6) {
    content: url("../images/Icons/icons8-people-96.png");
  }
  html body .header-section .nav-bar nav ul li a:nth-of-type(7) {
    content: url("../images/Icons/suitcase.png");
  }
  html body .header-section .nav-bar nav ul li a:nth-of-type(8) {
    content: url("../images/Icons/icons8-sms-96.png");
  }
  html body .header-section .nav-bar nav ul li a:nth-of-type(9) {
    content: url("../images/Icons/icons8-notification-96.png");
  }
  html body .header-section .nav-bar nav ul li a:nth-of-type(10) {
    content: url("../images/Icons/icons8-pie-chart-96.png");
  }
  html body .main-section .services-section {
    height: 60vh;
    padding: 10px 0;
  }
  html body .main-section .services-section h2 {
    font-size: 3vh;
  }
  html body .main-section .services-section .service-list li, html body .main-section .services-section ul li {
    align-items: center;
    flex-direction: column !important;
  }
  html body .carousel-section .carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  html body .carousel-section .carousel .carousel-item img {
    width: 20vw !important;
  }
}/*# sourceMappingURL=screen_m.css.map */