$font-stack: 'Jacques Francois', sans-serif;
$button-background: #004AAD;
$icon-size: 40px;
$border: solid #005050;
*{
    box-sizing: border-box;
}
html{
    font-family:$font-stack;
    font-weight: 400;
    font-style: normal;
    font-size: 0.7em;

    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    margin: 0px;
    width: 100%;
    justify-content: center;
    // min-width: 100px;
    .nav-bar{
        padding: 0px;
        height: fit-content;
        justify-content:center;
        display: inline-flex;
        // background-color: #004AAD;
        margin-top: -10px;

        width: 100%;
        .logo-section{
            align-items: center;
            display: flex;
            flex-direction: column;
            min-width: 70px;
            padding: 10px;
            span{
                font-size: 2rem;
            }
            img{
                width: 7rem;
                z-index: 1;
                // height: $icon-size;
            }
        }
       
        nav{
            filter: drop-shadow(1px 1px  10px rgba(0, 0, 0, 0.144));
            // height: 200px;
            // top: -20px;
            // margin-bottom: 20px;
            transform: translateY(10px);
            // visibility: visible;
            // margin-top: -20px;

            ul{
                height: 80px;
                border-radius: 0px 0px 4px 4px;
                margin-top: -10px;
                background-color: rgb(239, 239, 236);
                padding: 23px 20px;
                // color: #636363;
                display: flex;
                list-style: none;
                width:fit-content;
                // min-width: 50rem;
                justify-content: center;
                align-content:end;
                li{
                    // background-color: #004AAD;
                    justify-content: center;
                    align-content: center;
                    a {
                        font-size: 16px;
                        color: #000000;
                        cursor: pointer;
                        text-decoration: none;
                        margin: 0 10px;
                        flex-direction: row;
                        transition:
                        width 2s,
                        height 2s,
                        background-color 2s,
                        font-size 1s,
                        rotate 2s;
                        &:hover{
                            // transform: scale(1.2);
                            font-size: 20px;
                            // transition: ease-in-out 0.3s;
                            // color: #851b1b;
                          
                        
                        }
            
                    }
                }
            }
            transition: 2s;
        }
        // :after{
        //     content: "";
        //     margin-top: -10px;
        //     visibility: visible;
        // }
    }
    button{
        background-color: $button-background;
        color: #ffff;
        border: unset;
        cursor: pointer;
        padding: 5px 10px;
        width: fit-content;
        min-width: 70px;
        font-size: 11px;
        font-style: normal;
        border-radius: 5px;
        // box-shadow: 2px 2px 4px 0.5px rgba($color: #08080852, $alpha: 0.6);
        box-shadow: 0px 0px 0px 0px rgba($color: #08080880, $alpha: 0.6);
        transition: 0.2s;
        &:hover{
            // box-shadow: 0px 0px 0px 0px rgba($color: #08080880, $alpha: 0.6);
            box-shadow: 2px 2px 4px 0.5px rgba($color: #08080852, $alpha: 0.3);
            transform: translateY(-1.5px);
        }
    }   
    .search{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        height: fit-content;
        padding: 5px 0;
        input{
            font-size: 16px;
            color: #2c2c2c;
            background-color: rgba(196, 196, 196, 0.685);
            border: solid 1px rgb(234, 234, 234);
            width: 400px;
            text-align: center;
            padding: 8px;
            border-radius: 40px;
            align-self: center;
            align-items: center;
            outline: unset;
            // color: rgb(255, 255, 255);
            &:hover{
                // scale: 1.01;
                transition: 0.15s ease-in-out;
                box-shadow: 0px 0px 1.5px 1px rgba($color: #ffffff80, $alpha: 0.6);
            }
        }
        button{
            position: relative;
            height: 33px;
            border-radius: 40px;
            font-size: 16px;
        }
    }
    .actions{
        gap: 5px;
        display: flex;
        justify-content: center;
        padding: 5px 0px;
        button{
            font-size: 16px;
        }
    }
    .container{
        display: flex;
        justify-content: space-evenly;
        #mid{
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 10px;
            margin: 0px 5px;

            .section{
                background-color: #F9F9F9;
                border-radius: 10px;
                width: fit-content;
                height: fit-content;
                padding: 15px ;
                border: 1px solid rgba(71, 71, 71, 0.274);
                display: flex;
                filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.192));
            }
            .left{
                top: 5px;
                position:sticky;
                position: -webkit-sticky;
                max-width: 200px;
                flex-direction: column;
                padding: 15px 10px;
                .user-section{
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    align-items: center;
                    img{
                        // background-color: #004AAD;
                        background: linear-gradient(rgba(168, 168, 168, 0.479),rgba(29, 29, 29, 0.575));
                        padding: 2px;
                        width: 60px;
                        border-radius: 50%;
                    }
                }
                .user-about{
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    line-height: 15px;
                    max-height: fit-content; /* For 2 lines */
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    margin: 5px 0px;
                    span{
                        text-transform: uppercase;
                    }
                }
                .user-info{
                    border: 1px solid rgba(22, 11, 117, 0.048);
                    border-radius: 8px;
                    background-color: aliceblue;
                    display: flex;
                    justify-content:left;
                    padding: 0 10px;
                    ul{
                        padding: 0px;
                        list-style: none;
                        display:flex;
                        flex-direction: column;
                        gap: 2px;
                    }
                }
                .more-user-info{
                    padding: 0 10px;
                    gap: 2px;
                    margin: 0 0;
                    ul{
                        text-align: start;
                        padding: unset;
                        list-style: none;
                        display: flex;
                        flex-direction: column;
                        gap: 2px;
                    }
                }
            }
            .center{
                max-width: 550px;
                display: flex;
                flex-direction: column;
                gap: 10px;

                .card{
                    background: linear-gradient(rgba(172, 172, 172, 0.24),rgba(172, 172, 172, 0.164));
                    border: 1.9px solid rgba(68, 68, 68, 0.075) ;
                }
                .post-section{
                    display: flex;
                    padding: 0px;
                    border: unset;
                    flex-direction: row;
                    justify-content: center;
                    gap: 10px;
                    textarea{
                        padding: 15px;
                        border: 1px solid rgb(206, 206, 206);
                        border-radius: 10px;
                        resize: none;
                        width: 100%;
                        background-color: #d5d5d59e;
                    }
                    fieldset{
                        border: unset;
                        display: flex;
                        flex-direction: column;
                        input{
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                        }
                        input[type="file"]::file-selector-button {
                            height: fit-content;
                            font-size: 8px;
                            color: rgb(61, 61, 61);
                            padding: 2px 4px;
                            border: 1px solid rgb(152, 149, 149);
                            border-radius: 5px;
                            cursor: pointer;
                        }
                        select{
                            background: linear-gradient(#b9b9b9c0,80%,rgba(189, 189, 189, 0.11));
                            // filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.082));
                            border-radius: 7px 7px 0px 0px ;
                            border: solid 0px rgba(87, 85, 85, 0.192);
                            outline: unset;
                            transition: 1s;
                            position: relative;
                            padding: 5px;
                            &:hover{

                            }
                            option{
                                display: flex;
                                justify-content: center;

                            }
                        } 
                        button{
                            margin-top: 10px;
                            // background: linear-gradient(to right, rgb(48, 48, 201),rgb(14, 29, 101));
                        }
                    }
                }
                .idea-section{
                    .top{
                        display: flex;
                        justify-content: flex-end;
                        button{
                            background-color:#b3b2b210;
                            color: #424242;
                            border: 1px solid rgba(188, 188, 188, 0.39);
                            width: 30px;
                            min-width: unset;
                            padding: 3px;
                            transition: 0.4s;
                            // box-shadow: 2px 2px 5px 1px  rgba(128, 128, 128, 0.574);
                        }
                    }
                    .idea-info{
                        table{
                            width: 100%;
                           td{
                            flex-direction: column;
                            position: relative;
                            #status{
                                position: absolute;
                                border-radius: 50%;
                                margin-left: 6px;
                                margin-top: 5px;
                                width: 5px;
                                height: 5px;
                                background-color: rgb(0, 255, 64);
                            }
                           }
                        }                        
                    }
                    hr{
                        background-color: #d5d5d5;
                        border: unset;
                        height: 1px;
                    }
                    .idea-body{
                        .idea-def{
                            margin-bottom: 10px;
                            overflow: hidden;
                            -webkit-line-clamp: 5;
                            -webkit-box-orient: vertical;
                            display: -webkit-box;
                             width: fit-content;
                        }
                        .interest-section{
                            margin: 10px 0;
                            color:#636363;
                        }
                        .idea-media-section{
                            display: flex;
                            // grid-template-columns: 160px 200px ;
                            height: fit-content;
                            width: 100%;
                            gap: 5px;
                            padding: 0px;
                            justify-content: space-evenly;
                            // background-color: #004AAD;
                            img{
                                // object-position: 0%;
                                // transform: translate(-200px)  scale(0.1);
                                // object-fit:contain;
                                max-width: 250px;
                                // background-color: #b0afaf;
                                border-radius: 10px;
                                border: 1px solid rgb(139, 139, 139);

                                content: url("/images/hero_img.jpg");
                                // width: unset;
                                transition: 1s;
                                &:hover{
                                    box-shadow: 1px 1px 6px 0px rgb(124, 124, 124);
                                    transform: translateY(-3px);
                                }
                            }
                        }
                    }
                }
                .action-area{
                    display: grid;
                    grid-template-columns: auto auto;
                    justify-content: center;
                    padding: 20px 0px;
                    gap: 10px;
                    width: 100%;
                    .small-card{
                        border-radius: 10px;
                        padding: 10px;
                        display: flex;
                        flex-direction: column;
                        textarea{
                            padding: 2px 5px;
                            border: unset;
                            border-radius: 5px;
                            background-color: #b4b4b428;
                            outline:rgb(163, 163, 163);
                            resize: none;
                            height: 100px;
                            margin: 6px 0;
                        }
                        &:nth-of-type(1){
                            border: unset;
                        }
                        .area{
                            display: grid;
                        }
                    }
                }
            }
            .card{
                // border: 1px solid grey;
                border-radius: 10px;
                padding: 15px;
                background: linear-gradient(rgba(226, 226, 226, 0.322),rgba(172, 172, 172, 0.164));
                border: 1.9px solid rgba(68, 68, 68, 0.075) ;
                .tile{
                    background-color: #f8f8f8d3;
        
                    // border: 1px solid rgba(177, 177, 177, 0.349);
                    border-radius: 10px;
                    display: flex;
                    padding: 5px;
                    box-shadow: 1.5px 1.5px 2px 0px rgba(100, 100, 100, 0.404);
                    img{
                        width: 60px;
                        height: 60px;
                        background-color: #c1c0c24f;
                        border-radius: 10px;
                        margin-right: 3px;
                       transition: transform 2s, background 2s;
                       content: url("/images/hero_img.jpg");
                       // width: unset;
                       transition: 1s;
                       &:hover{
                           box-shadow: 1px 1px 6px 0px rgb(124, 124, 124);
                           transform: translateY(-1px);
                       }
                    }
                    span{
                        font-weight: bold;
                    }
                    img:hover{
                        transform: translateY(-2px);
                        // transition: 2s;
                        background:linear-gradient(
                            60deg,
                            rgba(124, 123, 123, 0.4),
                            rgb(102, 102, 102,0.4),
                            rgba(212, 210, 210, 0.4),
                            rgba(231, 231, 231, 0.4),
                            rgba(185, 184, 184, 0.4)
                        );
                    
                    }
                    
                }
                .idea-action1{
                    display: flex;
                    button{
                        position: relative;
                        display: none;
                    }
                }
                .that-viewed{
                    display: flex;
                    flex-direction: column;
                    .head{
                        padding: 10px;
                    }
                    .tile-container{
                        overflow: hidden;
                        gap: 5px;
                        display: flex;
                        height: fit-content;
                        padding: 5px 0;
                        // background-color: #004AAD;
                        .tile{
                            background-color: #f8f8f8d3;
        
                            // border: 1px solid rgba(177, 177, 177, 0.349);
                            border-radius: 10px;
                            display: flex;
                            padding: 5px;
                            box-shadow: 1.5px 1.5px 2px 0px rgba(100, 100, 100, 0.404);
                            img{
                                // max-width: 210px;
                                max-height: 50px;
                            }
                           
                          
                    }
                    .titles-about{
                        margin: 4px 0;
                    }
                }
                
                }
            }
            .suggestions-section {
                display: flex;
                flex-direction: column;
                font-size: 0.8em;
                justify-self: center;
                .head{
                    display: flex;
                    padding:  10px 0px;
                    justify-content: space-evenly;
                }
                button{
                    margin:4px 0px 0px  0px;
                }
                .titles-about{
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 3;
                    line-height: 10px;
                }
                .top-section{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    gap: 20px;
                }
                .bottom-section{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    gap: 20px;
                }
                .left-section{
                    display: flex;
                    flex-direction: column;
                    .tile-section{
                        display:grid;
                        grid-template-columns: auto auto;
                        gap: 10px;
                        .titles-about{
                            -webkit-line-clamp: 2;
                        }
                        span:nth-of-type(1){
                            font-size: 10px;
                            font-weight: bold;
                        }
                    }
                    .tile{
                        flex-direction: column;
                        max-width: 85px;
                        align-items: center;
                        padding: 8px;
                        img{
                             max-width: 60px;
                            max-height: 100px;
                            min-height:40px;
                        }
                        button{
                            justify-content: center;
                            display: flex;
                            flex-direction: row;
                            width: 100%;
                        }
                    }
                 }
                .right-section{
                    display: flex;
                    flex-direction: column;
                    .tile-section{
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        .tile{
                            display: flex;
                            width:fit-content;
                            max-width: 230px;
                            
                            img{
                                max-width: 100px;
                            }
                            .titles-about{
                                overflow: hidden;
                                display: -webkit-box;
                                -webkit-box-orient: vertical;
                                -webkit-line-clamp: 3;
                                line-height: 10px;
                            }
                        }
                    }
                }
            }
            .right{
                position: sticky;
                top: 5px;
                width: fit-content;
                max-width: 200px;
                justify-content: center;
                min-width: 180px;
                align-items: center;
                display: flex;
                flex-direction: column;
                gap: 10px;
                hr{
                    width: 90%;
                }
                .proposal-section{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    .tile{
                        // border: 1px solid grey;
                        // border-radius: 10px;
                        padding: 10px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        background-color: #f8f8f8d3;
        
                        // border: 1px solid rgba(177, 177, 177, 0.349);
                        border-radius: 10px;
                        // display: flex;
                        // padding: 5px;
                        box-shadow: 1.5px 1.5px 5px 0px rgba(100, 100, 100, 0.404);
    
                        .info{
                            display: flex;
                            flex-direction: row;
                            gap: 10px;
                            justify-content: center;
                            align-items: center;
                            width: fit-content;
                            img{
                                width: $icon-size;
                                height: $icon-size;
                                font-size: 7px;
                                background-color: #c1c0c24f;
                                border-radius: 10px;
                                margin-right: 3px;
                                transition: all 1.6s;

                               content: url("/images/hero_img.jpg");
                               // width: unset;
                               transition: 1s;
                               &:hover{
                                   box-shadow: 1px 1px 6px 0px rgb(124, 124, 124);
                                   transform: translateY(-1px);
                               }
                            }
                            span{
                                font-weight: bold;
                            }
                            img:hover{
                                transform: translateY(-2px);
                                // transition: 2s;
                                background:linear-gradient(
                                    60deg,
                                    rgba(124, 123, 123, 0.4),
                                    rgb(102, 102, 102,0.4),
                                    rgba(212, 210, 210, 0.4),
                                    rgba(231, 231, 231, 0.4),
                                    rgba(185, 184, 184, 0.4)
                                );
                            }
                        }
                        .interest-section{
                            color: #636363;
                            margin: 5px 0;
                        }
                        select{
                            width: 95%;
                            max-width: 200px;
                            font-size: 10px;
                            border-radius: 5px;
                        }
                        .titles-about{
                            margin: 5px 0;
                            overflow: hidden;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            display: -webkit-box;
                            width: fit-content;
                        }
                        .action-section{
                            width: 100%;
                            display: flex;
                            flex-direction: row;
                            justify-content:space-evenly;
                            gap: 5px;
                            button{
                                width: 100%;
                                justify-content: center;
                                min-width: unset;
                                display: flex;
                            }
                        }
                     }
                }
            }
        }
    }
    .icon{
      width: $icon-size;
      font-size: 7px;        
    }
}
@media only screen and (max-width:700px) { 
   html{
    // overflow-x:hidden ;
    width:100%;
    // width: 80%;
    padding:0;
    margin: 0;
    justify-content: center;
    display: flex;
    // margin-left: 0px;
    // background-color: #005050;
    box-sizing: border-box;
        body{
            // background: red;
            padding: 20px 0;
            // width: fit-content;
            width: 100%;
            margin-left: 0px;
            margin-top: 0;
            justify-content: center;
            display: flex;
            flex-direction: column;
            // margin-right: 0;
            .nav-bar{
                width: 100%;
                // background-color: red;
                display: flex;
                padding: 0px;
                height: fit-content;
                justify-content:center;
                display:unset;
                z-index: 1;
                // background-color: #004AAD;
                .logo-section{
                    align-items: unset;
                    display: unset;
                    flex-direction: unset;
                    // min-width: 0px;
                    padding: 0px 5px;
                    justify-self: unset;
                    position: absolute;
                    margin-bottom: 0px;
                    img{
                        // display: flex;
                        width: 6rem;
                        // height: unset;
                        padding: 0px;
                        margin-top: 0px;
                        transition:0.3s;
                        &:hover{
                            // width: 65px;
                            transform: translateY(-3px);
                            filter: drop-shadow( 1px 1px 1px rgba(58, 58, 58, 0.445));
                            // scale: 1.2;
                        }
                    }
                }
                span{
                    visibility: hidden;
                }
                .nav-bar-background{
                //    background-color: #005050;
                }
                nav{
                    background-color: rgba(218, 216, 208, 0.541);
                    // background-color: rgba(238, 195, 21, 0.541);

                    // background-color: unset;
                    padding: 10px 0px 30px 0;
                    margin-bottom: 10px;
                    position: fixed;
                    display: flex;
                    bottom: 0;
                    // left: 0;
                    width:100%;
                    // width: 80%;
                    height: fit-content;
                    z-index: 1;
                    box-shadow: 2px 2px 30px 2px rgba(0, 0, 0, 0.377);
                    backdrop-filter:blur(10px);
                    -webkit-backdrop-filter: blur(10px);
                    ul{
                        height: unset;
                        width: 100%;
                        border-radius: unset;
                        margin-top: unset;
                        margin-bottom: unset;
                        background-color: unset;
                        color:unset;
                        display: flex;
                        justify-content:space-around;
                        // gap: 1px;
                        align-content: unset;
                        justify-self: unset;
                        padding:0px;
                        // margin-left: -60px;
                        transform:rotateY(180deg);
                        li{
                            visibility: visible;
                            font-size: unset;
                            align-self: unset;
                            max-width: unset;
                            width: 3rem;
                            height: fit-content;
                            padding:  0px;
                            // filter:brightness(90%);
                            transition: all 1s;                
                            &:hover{
                                transform:  translateY(-7px);
                                padding: 0px;
                                filter:drop-shadow(-3px 3px 3px   rgba(0, 0, 0, 0.575));
                            }
                            &:nth-last-of-type(1){
                                content: url("/images/notification.png");  
                            }
                            &:nth-last-of-type(2){
                                content: url("/images/newspaper.png");
                            }
                            &:nth-last-of-type(3){
                                content: url("/images/networking.png");
                            }
                            &:nth-last-of-type(4){
                                content: url("/images/suitcase.png");
                            }
                            &:nth-last-of-type(5){
                                content: url("/images/message.png");
                            }
                            &:nth-last-of-type(6){
                                content: url("/images/OdumaCorp-icon-small.png");
                            }
                        }
                    }
                }
            }
            .search{
                display: flex;
                padding: 0px 0;
                margin-bottom: 10px;
                justify-content: center;
                gap: 0px;
                justify-self: center;
                width: unset;
                // width: 80%;
                // background-color: #004AAD;
                .in-search{
                    background-color: rgb(254, 254, 254);
                    // border: $border;
                    display: flex;
                    width: 28rem;
                    height: fit-content;
                    align-content: center;
                    border-radius: 20rem;
                    padding: 0px 5px;
                    transition: 1s;
                    &:hover{
                        box-shadow: 1px 1px 4px 0.5px rgba($color: #5858581c, $alpha: 0.2);
                        transform: translateY(-1.5px);
                    }
                    input{
                        font-size: 16px;
                        border-radius: 20rem;
                        display: flex;
                        // height: 100%;
                        // width: 100%;
                        outline: unset;
                        justify-self: center;
                        // background-color: #853434fb;
                        background: rgba(255, 255, 255, 0);
                        padding: 15px;
                        border: unset;
                    }
                    button{
                        position: relative;
                        right:10px;
                        left: unset;
                        width:fit-content;
                        top: unset;
                        visibility: visible;
                        height: fit-content;
                        background-color: unset;
                        font-size: 0px;
                        transform: scale(0.6);
                        border-radius: unset;
                        box-shadow: unset;
                        transition: 1s;
                        &::after{
                            visibility: visible;
                            content:url("/images/icons8-search-50.png");
                        }
                        &:hover{
                            // background-color: #004AAD;
                            filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.562));
                            // transform: translateY(20rem);
                            transform: scale(0.6);
                        }
                    }
                }
            }
            .actions{
                width: 100%;
                gap: unset;
                display: flex;
                gap: 5px;
                justify-content: center;
                justify-self: unset;
                align-self:unset;
                padding: 0px;
                // background-color: red;
            }
            // #mid{
            //     width: 100%;
            //     background-color: #004AAD;
            //     margin: unset;
            //     margin-left: 100px;
                
            // }
            .container{
                width: 100%;
                margin-bottom: 35px;
                // padding: 0;
                display: flex;
                // background-color: #424242;
                #mid{
                    display: flex;
                    flex-direction: column;
                    padding: unset;
                    margin: unset;
                    justify-content: unset;
                    min-width: unset;
                    max-width: unset;
                    width: 100%;
                    // background-color: #315000;

                    .section{
                        border-radius: unset;
                        border: unset;
                        // background-color: #004AAD;
                        padding: 15px 5px;
                    }
                    .left{
                        width: 100%;
                        max-width: unset;
                        min-width: unset;
                        position: relative;
                        // width: fit-content;
                        .user-section{
                            // flex-direction: column;
                            // display: flex;
                            align-content: center;
                            // background-color: #004AAD;
                            padding: unset;
                            height: fit-content;
                            gap: 10px;
                            // align-items: unset;
                            position: relative;
                            flex-direction: row;
                            div{
                                display: flex;
                                flex-direction: column;
                                gap: 5px;
                            }
                        }
                        .user-about{
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            line-height: 15px;
                            max-height: fit-content; /* For 2 lines */
                            -webkit-line-clamp: 3;
                            -webkit-box-orient: vertical;
                            width: 100%;
                            span{
                                text-transform: uppercase;
                                font-weight: bold;
                            }
                        }
                        .user-info{
                            // border: 1px solid rgba(77, 76, 76, 0.342);
                            // border-radius: unset;
                            // height: fit-content;
                            // display: flex;
                            justify-content: center;
                            margin: unset;
                            // background-color: #004AAD;
                            // border: solid 1px rgba(167, 167, 167, 0.295);
                            ul{
                                padding: unset;
                                list-style: none;
                                flex-direction: row;
                                gap: 5px;
                                li{
                                    font-size: 12px;
                                }
                            }
                        }
                        .more-user-info{
                            ul{
                                flex-direction: row;
                                gap: 15px;
                            }
                        }
                    }
                    .center{
                        width:100%;
                        padding: 0px;
                        gap: unset;
                        max-width: unset;
                        // width: fit-content;
                        // display: flex;
                        flex-direction: column;
                        .idea-section{
                            // background-color: #004AAD;
                            // padding: 5px;
                            display: flex;
                            flex-direction: column;
                            width: fit-content;
                            .top{
                                // background-color: #315000;
                                padding: 5px 5px;
                            }
                            .idea-body{
                                // background-color: #004AAD;
                                padding: 5px;
                                width: fit-content;
                            }
                            .idea-media-section {
                                // background-color: #004AAD;
                                padding: unset;
                                width: unset;
                                img{
                                    display:flex;
                                    max-width: 100px;
                                    // width: 20px;
                                    // height: 20px;
                                    content: url("/images/OdumaCorp-icon-small.png");
                                    width: unset;
                                    
                                }
                            }
                        }
                        .card{
                            border-radius: unset;
                            border: unset;
                            padding: unset;
                        }
                        .post-section{
                            // background-color: #004AAD;
                            padding: 5px;
                            width: 100%;
                            textarea{
                                width: 100%;
                                padding: 10px 10px;
                                border: unset;
                                box-shadow: inset 2px 2px 10px 0px rgba(92, 92, 92, 0.26);
                                // background-color: red;
                                outline: 1px solid rgba(121, 121, 121, 0.171);
                            }
                        }
                        .idea-section{
                            .top{
                                display: flex;
                                justify-content: flex-end;
                                // background-color: #004AAD;
                            }
                            .idea-body{
                                .interest-section{
                                    margin:10px 0;
                                    color:#303030c9;
                                }
                                .idea-media-section{
                                    display: flex;
                                    flex-direction: row;
                                    justify-content:space-evenly;
                                    width: 100%;
                                    // background-color: #004AAD;
                                    img{
                                        // height: 100%;
                                        width: fit-content;
                                        max-width: 200px;
                                    }
                                }
                            }
                        }
                        .action-area{
                            // display: grid;
                            // grid-template-columns: auto auto;
                            justify-content: space-evenly;
                            padding: 0px 0px;
                            gap: unset;
                            // width: 100%;
                            // background-color: #004AAD;
                            border: 1px solid rgba(0, 0, 0, 0.096);
                            .small-card{
                                border-radius: unset;
                                padding: 10px;
                                display: flex;
                                flex-direction: column;
                                // background-color: #004AAD;
                                
                                textarea{
                                    padding: 10px;
                                    border: unset;
                                    border-radius: 5px;
                                    background-color: #d1d1d128;
                                    outline:unset;
                                    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.295);
                                    resize: none;
                                    height: 120px;
                                    margin: 6px 0;
                                }
                                // &:nth-of-type(1){
                                //     border: unset;
                                // }
                                // .area{
                                //     display: grid;
                                // }
                            }
                        }
                        .tile-section{
                            flex-direction: row;
                        }
                        .that-viewed{
                            text-align: center;
                            display: flex;
                            // flex-direction: column;
                            // justify-content: unset;'
                            width: 100%;
                            // background-color: #a7a7a738;
                            padding: 0 2px;
                            // justify-content:center;
                            .tile-container{
                                justify-content:center;
                                // display: flex;
                                overflow-x: scroll;
                                display: -webkit-box;
                                max-width: unset;
                                // width: 100%;
                                gap: 10px;
                                // background-color: #004AAD;
                                
                                .tile{
                                    width:fit-content;
                                    height: unset;
                                    display: flex;
                                    max-width: 200px;
                                    text-align:left;
                                    // background-color: #004AAD;
                                    img{
                                        top: 0;
                                        // position: sticky;
                                        width: 150px;
                                        // min-width: fit-content;
                                        // height: 1000px;
                                    }
                                }
                            }
                            .titles-about{
                                margin: 4px 0;
                            }
                        }
                        .suggestions-section{
                            // background-color: #004AAD;
                            .top-section{
                                flex-direction: column;
                                // padding: 5px 2px;
                                // background-color: #004AAD;
                            }
                            .bottom-section{
                                flex-direction: column;
                                // padding: 5px 2px;
                                // background-color: #005050;
                                width: 100%;
                            }
                            .left-section{
                                // padding: 2px 2px;
                                display: flex;
                                .tile-section{
                                    padding: 5px 2px;
                                    // background-color: #2c2c2c;
                                    display: -webkit-box;
                                    // -webkit-background-clip: 2;
                                    // -webkit-box-orient: horizontal;
                                    overflow: scroll;
                                    // display: flex;
                                    width: 100%;
                                    // flex-direction: row;
                                    justify-content: space-around;
                                    // gap: 5px;
                                    overflow: hidden;
                                    .tile{
                                        // background-color: #005050;
                                        width: 120px;
                                        max-width: unset;
                                        display: flex;
                                        img{
                                            // width: 1000px;
                                            // height: 60px;
                                            min-width: 100px;
                                            max-height: 100px;
                                        }
                                    }
                                    
                                }
                            }
                            .right-section{
                                // padding: 10px 0;
                                padding: 2px 2px;
                                display: flex;
                                width: 100%;
                                // max-width: 100px;
                                // background-color: #2c2c2c;
                                .tile-section{
                                    padding: 5px 0px;
                                    // background-color: #424242;
                                    flex-direction: row;
                                    max-width: unset;
                                    display: -webkit-box;
                                    overflow-x: scroll;
                                    gap: 5px;
                                    width: 100%;
                                    .tile{
                                        // background-color: #005050;
                                        width: 100%;
                                        max-width: 200px;
                                        display: flex;
                                        img{
                                            width: fit-content;
                                            min-width: 50px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .right{
                        width: 100%;
                        max-width: unset;
                        min-width: unset;
                        // width: fit-content;
                        background-color: rgba(153, 153, 153, 0.247);
                        .proposal-section{
                            flex-direction: row;
                        }
                        .titles-about{
                            margin: 0;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}