$font-stack: 'Jacques Francois', sans-serif;
$button-background: #004AAD;
$icon-size: 40px;
$border: solid #005050;
html{
    font-family:$font-stack;
    font-weight: 400;
    font-style: normal;
    font-size: 0.7em;
}
body{
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    margin: 0px;
    box-sizing: border-box;
    width: 100%;
    // min-width: 100px;
    .nav-bar{
        padding: 0px;
        height: fit-content;
        justify-content:center;
        display: inline-flex;
        margin-top: 0px;
        .logo-section{
            align-items: center;
            display: flex;
            flex-direction: column;
            min-width: 70px;
            padding: 5px;
            span{
                font-size: 10px;
            }
        }
        img{
            width: $icon-size;
            height: $icon-size;
        }
        span{
            font-size: 1em;
        }
        nav{
            // background-color: red;
            // filter: blur(2px);
            ul{
                height: fit-content;
                border-radius: 0px 0px 4px 4px;
                margin-top: 0px;
                background-color: rgb(239, 239, 236);
                padding: 23px 20px;
                color: #636363;
                display: flex;
                list-style: none;
                width: fit-content;
                
                li{
                    cursor: pointer;
                    margin: 0 10px;
                    flex-direction: row;
                    &:hover{
                        scale: 1.4;
                        transition:  ease-in-out 0.3s;
                        color: #000000;
                    }
                }
            }
        }
    }
    button{
        background-color: $button-background;
        color: #ffff;
        border: unset;
        cursor: pointer;
        padding: 5px 10px;
        width: fit-content;
        min-width: 70px;
        font-size: 11px;
        font-style: normal;
        border-radius: 5px;
        box-shadow: 1px 1px 3px 1px rgba($color: #1c12a580, $alpha: 0.6);
        &:hover{
            transition: 1s ease-in-out;
            box-shadow: 0px 0px 1.5px 1px rgba($color: #1c12a580, $alpha: 0.6);
        }
    }   
    .search{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        height: fit-content;
        padding: 5px 0;
        input{
            color: #605f5f;
            background-color: rgba(145, 145, 145, 0.308);
            border: solid 1px rgba(234, 234, 234, 0.811);
            width: 400px;
            text-align: center;
            padding: 8px;
            border-radius: 40px;
            align-self: center;
            align-items: center;
            &:hover{
                scale: 1.1;
                transition: 1s ease-in-out;
                box-shadow: 0px 0px 1.5px 1px rgba($color: #1c12a580, $alpha: 0.6);
            }
        }
        button{
            position: relative;
            height: unset;
            border-radius: 40px;
        }
    }
    .actions{
        gap: 5px;
        display: flex;
        justify-content: center;
        padding: 5px 0px;
    }
    .container{
        display: flex;
        justify-content: space-evenly;
        #mid{
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 10px;
            .section{
                background-color: #F9F9F9;
                border-radius: 10px;
                width: fit-content;
                height: fit-content;
                padding: 15px ;
                border: 1px solid rgba(101, 100, 100,0.2);
                display: flex;
            }
            .left{
                max-width: 200px;
                flex-direction: column;
                padding: 15px 10px;
                .user-section{
                    display: flex;
                    flex-direction: column;
                    gap: 6px;
                    align-items: center;
                }
                .user-about{
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    line-height: 15px;
                    max-height: fit-content; /* For 2 lines */
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    margin: 5px 0px;
                    span{
                        text-transform: uppercase;
                    }
                }
                .user-info{
                    border: 1px solid rgba(77, 76, 76, 0.505);
                    border-radius: 8px;
                    background-color: aliceblue;
                    display: flex;
                    justify-content:left;
                    padding: 0 10px;
                    ul{
                        padding: 0px;
                        list-style: none;
                        display:flex;
                        flex-direction: column;
                        // border: $border;
                        gap: 2px;
                    }
                }
                .more-user-info{
                    padding: 0 10px;
                    gap: 2px;
                    margin: 0 0;
                    ul{
                        text-align: start;
                        padding: unset;
                        list-style: none;
                        display: flex;
                        flex-direction: column;
                        gap: 2px;
                    }
                }
            }
            .center{
                max-width: 550px;
                display: flex;
                flex-direction: column;
                gap: 10px;
                .post-section{
                    display: flex;
                    padding: 0px;
                    border: unset;
                    flex-direction: row;
                    justify-content: center;
                    gap: 10px;
                    textarea{
                        padding: 15px;
                        border: 1px solid rgb(206, 206, 206);
                        border-radius: 10px;
                        resize: none;
                        width: 100%;
                        background-color: #d5d5d59e;
                    }
                    fieldset{
                        border: unset;
                        display: flex;
                        flex-direction: column;
                        input{
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                        }
                        input[type="file"]::file-selector-button {
                            height: fit-content;
                            font-size: 8px;
                            color: rgb(61, 61, 61);
                            padding: 2px 4px;
                            border: 1px solid rgb(152, 149, 149);
                            border-radius: 5px;
                            cursor: pointer;
                        }
                        select{
                            background-color: #b5b5b585;
                            border-radius: 5px;
                            outline: solid 1px rgba(255, 255, 255, 0.395);
                            option{
                            }
                        } 
                        button{
                            margin-top: 10px;
                            background: linear-gradient(to right, rgb(48, 48, 201),rgb(14, 29, 101));
                        }
                    }
                }
                .idea-section{
                    .top{
                        display: flex;
                        justify-content: flex-end;
                        button{
                            background-color: unset;
                            color: #424242;
                            border: 1px solid rgb(188, 188, 188);
                            width: 20px;
                            min-width: unset;
                            padding: 3px;
                            box-shadow: 2px 2px 5px 1px  rgba(128, 128, 128, 0.574);
                        }
                    }
                    .idea-info{
                        table{
                            width: 100%;
                           td{
                            flex-direction: column;
                            position: relative;
                            #status{
                                position: absolute;
                                border-radius: 50%;
                                margin-left: 6px;
                                margin-top: 5px;
                                width: 5px;
                                height: 5px;
                                background-color: rgb(0, 255, 64);
                            }
                           }
                        }                        
                    }
                    hr{
                        background-color: #d5d5d5;
                        border: unset;
                        height: 1px;
                    }
                    .idea-body{
                        .idea-def{
                            margin-bottom: 10px;
                            overflow: hidden;
                            -webkit-line-clamp: 5;
                            -webkit-box-orient: vertical;
                            display: -webkit-box;
                             width: fit-content;
                        }
                        .interest-section{
                            margin: 10px 0;
                            color:#636363;
                        }
                        .idea-media-section{
                            display: grid;
                            grid-template-columns: 60% auto;
                            height: 120px;
                            gap: 5px;
                            img{
                                background-color: #b0afaf;
                                border-radius: 10px;
                                border: 1px solid rgb(139, 139, 139);
                            }
                        }
                    }
                }
                .action-area{
                    display: grid;
                    grid-template-columns: auto auto;
                    justify-content: center;
                    padding: 20px 0px;
                    gap: 10px;
                    width: 100%;
                    .small-card{
                        border-radius: 10px;
                        padding: 10px;
                        display: flex;
                        flex-direction: column;
                        textarea{
                            padding: 2px 5px;
                            border: unset;
                            border-radius: 5px;
                            background-color: #b4b4b428;
                            outline:rgb(163, 163, 163);
                            resize: none;
                            height: 100px;
                            margin: 6px 0;
                        }
                        &:nth-of-type(1){
                            border: unset;
                        }
                        .area{
                            display: grid;
                        }
                    }
                }
            }
            .card{
                border: 1px solid grey;
                border-radius: 10px;
                padding: 15px;
                .idea-action1{
                    display: flex;
                    button{
                        position: relative;
                        display: none;
                    }
                }
                .that-viewed{
                    display: flex;
                    flex-direction: column;
                    .head{
                        padding: 10px;
                    }
                    .tile-container{
                        overflow: hidden;
                        gap: 5px;
                        display: flex;
                    }
                    .titles-about{
                        margin: 4px 0;
                    }
                }
                .tile{
                    border: 1px solid grey;
                    border-radius: 10px;
                    display: flex;
                    padding: 5px;
                    img{
                        width: 100px;
                        background-color: #42424248;
                        border-radius: 10px;
                        margin-right: 3px;
                    }
                    span{
                        font-weight: bold;
                    }
                }
            }
            .suggestions-section {
                display: flex;
                flex-direction: column;
                font-size: 0.8em;
                justify-self: center;
                .head{
                    display: flex;
                    padding:  10px 0px;
                    justify-content: space-evenly;
                }
                button{
                    margin:4px 0px 0px  0px;
                }
                .titles-about{
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 3;
                    line-height: 10px;
                }
                .top-section{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    gap: 20px;
                }
                .bottom-section{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    gap: 20px;
                }
                .left-section{
                    display: flex;
                    flex-direction: column;
                    .tile-section{
                        display:grid;
                        grid-template-columns: auto auto;
                        gap: 10px;
                        .titles-about{
                            -webkit-line-clamp: 2;
                        }
                        span:nth-of-type(1){
                            font-size: 10px;
                            font-weight: bold;
                        }
                    }
                    .tile{
                        flex-direction: column;
                        max-width: 85px;
                        align-items: center;
                        padding: 8px;
                        img{
                             max-width: 60px;
                            max-height: 100px;
                            min-height:40px;
                        }
                        button{
                            justify-content: center;
                            display: flex;
                            flex-direction: row;
                            width: 100%;
                        }
                    }
                 }
                .right-section{
                    display: flex;
                    flex-direction: column;
                    .tile-section{
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        .tile{
                            display: flex;
                            width:fit-content;
                            max-width: 230px;
                            img{
                                max-width: 100px;
                            }
                            .titles-about{
                                overflow: hidden;
                                display: -webkit-box;
                                -webkit-box-orient: vertical;
                                -webkit-line-clamp: 3;
                                line-height: 10px;
                            }
                        }
                    }
                }
            }
            .right{
                width: fit-content;
                max-width: 200px;
                justify-content: center;
                min-width: 180px;
                align-items: center;
                display: flex;
                flex-direction: column;
                gap: 10px;
                hr{
                    width: 90%;
                }
                .proposal-section{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    .tile{
                        border: 1px solid grey;
                        border-radius: 10px;
                        padding: 10px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        .info{
                            display: flex;
                            flex-direction: row;
                            gap: 10px;
                            justify-content: center;
                            align-items: center;
                            width: fit-content;
                            img{
                                width: $icon-size;
                                height: $icon-size;
                                background-color: #b0afaf;
                                border-radius: 10px;
                                font-size: 7px;
                            }
                        }
                        .interest-section{
                            color: #636363;
                            margin: 5px 0;
                        }
                        select{
                            width: 95%;
                            max-width: 200px;
                            font-size: 10px;
                            border-radius: 5px;
                        }
                        .titles-about{
                            margin: 5px 0;
                            overflow: hidden;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            display: -webkit-box;
                            width: fit-content;
                        }
                        .action-section{
                            width: 100%;
                            display: flex;
                            flex-direction: row;
                            justify-content:space-evenly;
                            gap: 5px;
                            button{
                                width: 100%;
                                justify-content: center;
                                min-width: unset;
                                display: flex;
                            }
                        }
                     }
                }
            }
        }
    }
    .icon{
      width: $icon-size;
      font-size: 7px;        
    }
}
@media only screen and (max-width:700px) { 
    
   body{
    overflow-x: hidden;
    
    .nav-bar{
        padding: 0px;
        height: fit-content;
        justify-content:center;
        display:unset;
        z-index: 1;
        .logo-section{
            align-items: unset;
            display: unset;
            flex-direction: unset;
            min-width: 0px;
            padding: unset;
            justify-self: unset;
            position: absolute;
            margin-bottom: 0px;
        }
        img{
            width: 50px;
            height: unset;
            padding: 5px;
            &:hover{
                scale: 1.2;
                transition: ease-in-out 0.7s;
            }
        }
        span{
            visibility: hidden;
        }
        .nav-bar-background{
           
        }
        nav{
            background-color: rgba(239, 239, 236, 0.95);
            position: fixed;
            display: flex;
            bottom: 0px;
            width:100%;
            height: 50px;
            z-index: 1;
            box-shadow: 2px 2px 30px 2px rgba(0, 0, 0, 0.39);
            ul{
                height: unset;
                width: 100%;
                border-radius: unset;
                margin-top: unset;
                margin-bottom: unset;
                // background-color: rebeccapurple;
                color:unset;
                display: flex;
                justify-content:space-around;
                // gap: 1px;
                align-content: unset;
                justify-self: unset;
                padding: 5px 0px;
                li{
                    visibility: visible;
                    // display:flex;
                    font-size: unset;
                    align-self: unset;
                    max-width: unset;
                    width: 30px;
                    height: 30px;
                    // display: block;
                    // width: fit-content;
                    padding:  10px;
                    // border-radius: 50%;
                    // background-color: #005050;
                    &:hover{
                        scale: 1.5;
                        transition: ease-in-out 0.3s;
                        box-shadow: 2px 2px 3px black;
                        color: #b0afaf;
                        object-fit: cover;
                        background: linear-gradient(rgb(4, 77, 146), blue);
                        border-radius: 100%;
                        padding: 5px;
                        border: unset;
                        filter: opacity(85%);
                        transform: translateY(-10px);
                    }
                    &:nth-last-of-type(1){
                        content: url("/images/home.png");
                    }
                    &:nth-last-of-type(2){
                        content: url("/images/newspaper.png");
                    }
                    &:nth-last-of-type(3){
                        content: url("/images/networking.png");
                    }
                    &:nth-last-of-type(4){
                        content: url("/images/suitcase.png");
                    }
                    &:nth-last-of-type(5){
                        content: url("/images/message.png");
                    }
                    &:nth-last-of-type(6){
                        content: url("/images/notification.png");
                    }
                }
            }
        }
    }
    .search{
        height: fit-content;
        padding: 10px 0;
        justify-content: center;
        // background-color: #004AAD;
        display: flex;
        flex-direction: row;
        input{
            height: fit-content;
            width: 200px;
            outline: unset;
            justify-self: center;
            background-color: rgb(254, 254, 254);

            &:hover{
                width: 50%;
            }
        }
        button{
            position: absolute;
            right: 0px;
            width:fit-content;
            height: unset;
            top: 0px;
            visibility: hidden;
            &:hover{
                scale: 1.2;
            }
            &::after{
                height: unset;
                visibility: visible;
                content:url("/images/icons8-search-50.png");
            }
        }
        
    }
    
    .actions{
        width: 100%;
        gap: unset;
        display: flex;
        gap: 5px;
        justify-content: center;
        justify-self: unset;
        align-self:unset;
        padding: 5px;
    }
        .container{
            width: fit-content;
            margin-bottom: 45px;
            #mid{
                flex-direction: column;
                padding: 0;
                .section{
                    border-radius: unset;
                    border: unset ;
                }
                .left{
                    max-width: unset;
                    min-width: unset;
                    .user-section{
                        padding: 5px;
                        height: fit-content;
                        gap: 15px;
                        align-items: unset;
                        position: relative;
                        flex-direction: row;
                        & div{
                            display: flex;
                            flex-direction: column;
                            gap: 5px;
                        }
                    }
                    .user-about{
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        line-height: 15px;
                        max-height: fit-content; /* For 2 lines */
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                        width: 90%;
                        span{
                            text-transform: uppercase;
                        }
                    }
                    .user-info{
                        border: 1px solid rgba(77, 76, 76, 0.505);
                        border-radius: unset;
                        height: fit-content;
                        display: flex;
                        justify-content: center;
                        margin: unset;
                        border: solid 1px rgba(128, 128, 128, 0.295);
                        ul{
                            padding: unset;
                            list-style: none;
                            flex-direction: row;
                            gap: 5px;
                            li{
                                font-size: 10px;
                            }
                        }
                    }
                    .more-user-info{
                        ul{
                            flex-direction: row;
                            gap: 15px;
                        }
                    }
                }
                .center{
                    padding: 5px;
                    gap: unset;
                    max-width: unset;
                    width: fit-content;
                    display: flex;
                    flex-direction: column;
                    .card{
                        border-radius: unset;
                        border: unset;
                        padding: unset;
                    }
                    .post-section{
                        padding: 10px;
                    }
                    textarea{
                        padding: 15px 5px;
                        border: unset;
                    }
                    .idea-section{
                        .top{
                            display: flex;
                            justify-content: flex-end;
                            button{
                                background-color: unset;
                                color: #424242;
                                border: 1px solid rgb(188, 188, 188);
                                width: 20px;
                                min-width: unset;
                                padding: 3px;
                                box-shadow: 2px 2px 5px 1px  rgba(128, 128, 128, 0.574);
                            }
                        }
                        .idea-body{
                            .interest-section{
                                margin: 10px 0;
                                color:#636363;
                            }
                            .idea-media-section{
                                display: flex;
                                flex-direction: row;
                                img{
                                    height: 100%;
                                    width: 100%;
                                    background-color: #b0afaf;
                                    border-radius: 10px;
                                    border: 1px solid rgb(139, 139, 139);
                                }
                            }
                        }
                    }
                    .tile-section{
                        flex-direction: row;
                    }
                    .that-viewed{
                        display: flex;
                        flex-direction: column;
                        justify-content: unset;
                        .tile-container{
                            overflow: hidden;
                            display: -webkit-box;
                            max-width: unset;
                            // gap: 50px;
                            justify-content:space-evenly;
                            .tile{
                                width:fit-content;
                                height: unset;
                                display: flex;
                                max-width: 200px;
                                img{
                                    width: fit-content;
                                    min-width: fit-content;
                                    height: unset;
                                }
                            }
                        }
                        .titles-about{
                            margin: 4px 0;
                        }
                    }
                    .top-section{
                        flex-direction: column;
                    }
                    .bottom-section{
                        flex-direction: column;
                    }
                    .left-section{
                        .tile-section{
                            display: flex;
                            flex-direction: row;
                            justify-content: space-evenly;
                            // gap: 5px;
                            overflow: hidden;
                            img{
                                width: fit-content;
                                min-width: 50px;
                            }
                        }
                    }
                    .right-section{
                        padding: 10px 0;
                        .tile-section{
                            flex-direction: row;
                            max-width: unset;
                            display: -webkit-box;
                            overflow: hidden;
                            gap: 5px;
                            width: fit-content;
                            .tile{
                                width: 100%;
                                max-width: 200px;
                                display: flex;
                                img{
                                    width: fit-content;
                                    min-width: 50px;
                                }
                            }
                        }
                    }
                }
                .right{
                    max-width: unset;
                    min-width: unset;
                    .proposal-section{
                        flex-direction: row;
                    }
                    .titles-about{
                        margin: 0;
                        text-align: center;
                    }
                }
            }
        }
        
    }
 
}